<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EliminarEgresoChequeTrnsPerAct</servlet-name>
        <servlet-class>Controlador.EliminarEgresoChequeTrnsPerAct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEgresoChequeTransPerAct</servlet-name>
        <servlet-class>Controlador.EliminarEgresoChequeTransPerAct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEgresoChequeTransPerAct1</servlet-name>
        <servlet-class>Controlador.EliminarEgresoChequeTransPerAct1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEgresoChequeProAct</servlet-name>
        <servlet-class>Controlador.EliminarEgresoChequeProAct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEgresoTransProAct</servlet-name>
        <servlet-class>Controlador.EliminarEgresoTransProAct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarOtroEgresoAct</servlet-name>
        <servlet-class>Controlador.EliminarOtroEgresoAct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEgresoChequePerInact</servlet-name>
        <servlet-class>Controlador.EliminarEgresoChequePerInact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEgresoTransPerInact</servlet-name>
        <servlet-class>Controlador.EliminarEgresoTransPerInact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEgresoChequeProInact</servlet-name>
        <servlet-class>Controlador.EliminarEgresoChequeProInact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEgresoTransProInact</servlet-name>
        <servlet-class>Controlador.EliminarEgresoTransProInact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarOtroEgresoInact</servlet-name>
        <servlet-class>Controlador.EliminarOtroEgresoInact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesactivarLogin</servlet-name>
        <servlet-class>Controlador.DesactivarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivarLogin</servlet-name>
        <servlet-class>Controlador.ActivarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesactivarSucursal</servlet-name>
        <servlet-class>Controlador.DesactivarSucursal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadSevlet</servlet-name>
        <servlet-class>Controlador.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadSevlet2</servlet-name>
        <servlet-class>Controlador.UploadServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarEgresoChequeTrnsPerAct</servlet-name>
        <url-pattern>/deleteEgresoChequeTrnsPerAct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEgresoChequeTransPerAct</servlet-name>
        <url-pattern>/deleteEgresoChequeTransPerAct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEgresoChequeTransPerAct1</servlet-name>
        <url-pattern>/delete1EgresoChequeTransPerAct1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEgresoChequeProAct</servlet-name>
        <url-pattern>/deleteEgresoChequeProAct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEgresoTransProAct</servlet-name>
        <url-pattern>/deleteEgresoTransProAct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarOtroEgresoAct</servlet-name>
        <url-pattern>/deleteOtroEgresoAct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEgresoChequePerInact</servlet-name>
        <url-pattern>/deleteEgresoChequePerInact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEgresoTransPerInact</servlet-name>
        <url-pattern>/deleteEgresoTransPerInact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEgresoChequeProInact</servlet-name>
        <url-pattern>/deleteEgresoChequeProInact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEgresoTransProInact</servlet-name>
        <url-pattern>/deleteEgresoTransProInact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarOtroEgresoInact</servlet-name>
        <url-pattern>/deleteOtroEgresoInact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesactivarLogin</servlet-name>
        <url-pattern>/disableLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivarLogin</servlet-name>
        <url-pattern>/enableLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesactivarSucursal</servlet-name>
        <url-pattern>/disableSucursal</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>-->
<!--    <servlet-mapping>
        <servlet-name>UploadServlet2</servlet-name>
        <url-pattern>/UploadServlet2</url-pattern>
    </servlet-mapping>-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
