.scrollView{
    touch-action: none;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  overflow: hidden;
  }